{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tecun Recolecta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {% if user.is_authenticated %}
            <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="{% static 'images/tecun.jpg' %}" alt="Tecun" class="img-fluid"
                         style="max-width: 50px; margin-right: 10px;">
                    <h4>Usos de Equipos</h4>
                </div>
                <a href="{% url 'indexep' %}"><i class="fas fa-backward"></i> Regresar</a>
            </div>

            <form action="{% url 'newu' %}" method="POST" class="card card-body">
                {% csrf_token %}

                <label for="descripcion">Uso Equipo:</label>
                <input type="text" name="descripcion" placeholder="Descripcion Uso Equipo" class="form-control mb-2">
                <button class="btn btn-success"><i class="fas fa-save"></i> Guardar</button></form>
            {% for uso in usos %}
            <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                <div>
                    <h4>{{uso.descripcion}}</h4>
                </div>
                <form action="{% url 'delu' uso.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Borrar</button>
                </form>
            </div>
            {% empty %}
            <h1 class="display-4 text-center">No ha registrado Usos de Equipos</h1>
            {% endfor %}

            {% else %}
            <h2> No esta autenticado </h2>
            <a href="{% url 'login' %}">Ingresar</a>
            {% endif %}

        </div>
    </div>
</div>
</body>
</html>